body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-container {
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group .fas {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.input-group input[type="text"]:focus+.fas,
.input-group input[type="password"]:focus+.fas {
    color: #3786BD;
}

.retrieve-btn {
    width: 100%;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2rem;
}

.retrieve-btn:hover {
    background-color: #000;
    color: #fff;
}