/* Hero Section Styles */
#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 10%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 10%;
    color: #fff;
    letter-spacing: 2px;
    opacity: 0;
    /* Initially hidden */
    transform: translateX(-50px);
    /* Slide-in from the left */
    animation: slideIn 1s ease-out forwards;
    /* Animation added */
}

#hero h2 {
    color: #fff;
    margin: 20px 0 40px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4;
    opacity: 0;
    /* Initially hidden */
    animation: fadeIn 1.5s ease-in forwards;
    /* Fade-in animation */
    animation-delay: 1s;
    /* Delay for smooth sequential appearance */
}

.startup {
    color: #fff;
}

.investment {
    color: #008066;

}

.hero-section {
    position: relative;
    width: 100%;
    height: 98vh;
    background-color: rgb(59, 58, 58);
    text-align: center;
    overflow: hidden;
}

.hero-section #main-image {
    width: 100%;
    height: 98vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/* Add a dark overlay on the hero section */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Darken the overlay (adjust the opacity for more/less darkness) */
    z-index: 2;
    /* Ensure it sits over the image but below the text */
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 10%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 3;
    /* Ensure the text is above the overlay */
}

.thumbnails {
    position: absolute;
    bottom: 5%;
    left: 2%;
    display: flex;
    gap: 10px;
    z-index: 2;
    align-items: center;
    /* Ensure thumbnails stay in a single line */
    padding-bottom: 10px;
    /* Optional: space below the container for scroll */
    z-index: 4;
}

.thumbnail {
    width: 320px;
    /* Keep the size constant */
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

/* Optional: Add styling for scrollbar */
.thumbnails::-webkit-scrollbar {
    height: 8px;
    /* Height of the scrollbar */
}

.thumbnails::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.thumbnails::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color on hover */
}


/* Media queries for tablets and smaller screens */
@media (max-width: 768px) {
    .thumbnails {
        display: none;
    
    }

    #hero h1{
        font-size: 24px;
    }

    #hero .hero-container {
        left: 5%;
    }

}

@media (max-width: 1024px) {
    .thumbnail {
        display: none;
    }
}



.button {
    display: flex;
    flex-direction: row;
    bottom: 0;
}

.button button {
    background-color: #008066;
    border-radius: 5px;
    padding: 12px 24px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeIn 1s ease-in;
}

#hero button:hover {
    background-color: #1b8065;
}

/* Slide-in animation for h1 */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
        /* Start off-screen */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* End at normal position */
    }
}

/* Fade-in animation for h2 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Blinking cursor animation */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}