/* Hero Section Styles */
#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
}

#hero h2 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

#hero .waves {
    position: absolute;
    bottom: 0;

}

@keyframes zoomInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-container h1,
.hero-container h2 {
    animation: zoomInFromBottom 1s ease-in-out forwards;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}



/* Hero Section Blur Effect */
.hero-section {
    background: url(../img/homepage.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.blur-container {
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27%;
    z-index: 1;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}