body {
    font-family: Arial, sans-serif;
}

.workflow {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.workflow-header h2 {
    margin-top: 10vh;
    font-size: 26px;
    margin-bottom: 10px;
    color: #008066;
    font-weight: bolder;
}

.workflow-header p {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

.workflow-container {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 10vh;
}

.workflow-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #000000;
    z-index: 1;
}

.workflow-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 50px 0;
}

.workflow-item.left {
    justify-content: flex-end;
}

.workflow-item.right {
    justify-content: flex-start;
}

.content {
    width: 60%;
    padding: 25px;
    border-radius: 5px;
    background: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.content > h3{
    color: #009970;
}

.workflow-item.left .content {
    margin-right: -150px;
    text-align: left;
}

.workflow-item.right .content {
    margin-left: -150px;
    text-align: right;
}

.checkpoint {
    width: 20px;
    height: 20px;
    background-color: #009970;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    left: calc(50% - 10px);
    z-index: 2;
}

@media (max-width: 768px) {
    .workflow-container::before {
        left: 10px; 
        height: 100%; 
    }

    .workflow-item {
        flex-direction: column;
        justify-content: center;
        margin: 30px 0; 
        padding-left: 40px; 
    }

    .content {
        width: 90%; 
        text-align: left;  
        margin-left: 0; 
        margin-right: 0; 
        padding: 15px; 
    }

    .workflow-item.left .content, .workflow-item.right .content {
        text-align: left; 
        margin: 0; 
    }

    .checkpoint {
        left: 0px; 
    }

    .workflow-item.left {
        justify-content: center; 
    }

    .workflow-item.right {
        justify-content: center; 
    }
}