#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-content {
    text-align: center;
}

.loading-content h4{
    margin-top: 20px;
    font-weight: bolder;
}

.loading-logo {
    width: 200px;
    height: auto;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 30px;
}

.loading-bars {
    display: flex;
    justify-content: center; /* Center the loading bars */
    gap: 10px; /* Adjust spacing between bars */
    align-items: center; /* Center the bars vertically */
}

.loading-bar {
    width: 20px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    animation: jump 1.5s infinite ease-in-out;
}



.loading-bar:nth-child(1) {
    animation-delay: 0s;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.25s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes jump {
    0%, 20%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.loading-animation {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
    padding-top: 10vh;
}


#loadingTransactionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-content-tansaction {
    text-align: center;
}

.loading-logo-tansaction {
    width: 200px;
    height: auto;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 30px;
}

.loading-bars-tansaction {
    display: flex;
    justify-content: center; /* Center the loading bars */
    gap: 10px; /* Adjust spacing between bars */
    align-items: center;
}

.loading-bar-tansaction {
    width: 20px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    animation: jump 1.5s infinite ease-in-out;
}

.loading-bar-tansaction:nth-child(1) {
    animation-delay: 0s;
}

.loading-bar-tansaction:nth-child(2) {
    animation-delay: 0.25s;
}

.loading-bar-tansaction:nth-child(3) {
    animation-delay: 0.5s;
}
