.confirm-logout-btn {
    background-color: #009970 !important; /* Custom green color */
    color: white !important;              /* White text */
}

.cancel-logout-btn {
    background-color: red !important;    /* Red cancel button */
    color: white !important;             /* White text */
}
