body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.loader {
    border: 7px solid #f3f3f3;
    /* Light grey */
    border-top: 7px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    margin-top: 20vh;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
    #transactions {
        flex-direction: column;
    }

    .transaction {
        width: 100%;
    }
}

/* Loader styling */
#loader {
    display: none;
    text-align: center;
}

#transactions{
    min-height: 50vh;
}

/* Table styling */
.transactions-table {
    border-collapse: collapse;
    margin: 20px auto;
}

.transactions-table th,
.transactions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transactions-table th {
    background-color: #f2f2f2;
    color: black;
}

.transactions-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactions-table tr:hover {
    background-color: #ddd;
}

.view-more-btn {
    background-color: #008066;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
}

.view-more-btn:hover {
    background-color: black;
    color: white;
}

/* Hide full transaction ID by default */
.d-none {
    display: none;
}

.transaction-table button.toggle-txid-btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.transaction-table button.toggle-txid-btn:hover {
    background-color: black;
    color: white;
}
