.notification-popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    
}

.notification-icon{
    cursor: pointer;
}
.notification-popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.notification-popup ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-popup ul li:last-child {
    border-bottom: none;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
    display: none;
}

