#details-cr-h h2{
    margin-top: 20vh;
    color: #008066;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.campaign-details{
    min-height: 60vh;
}

#project-cr-details{
    margin-top: 0;
    margin-bottom: 5vh;
}

.projectSection {
    justify-content: center;
    margin: 20vh auto;
    max-width: 1400px;
    padding: 20px;
    background-color: #ffffff;
}

.projectSection h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #444;
}

.imageClass img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.detailsClass {
    flex: 1;
    margin-left: 2rem;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.detailsClass h3 {
    font-size: 26px;
    margin-bottom: 1rem;
    color: #008066;
}

.detailsClass .walletAddress {
    padding: 0;
}

.detailsClass .walletAddress .heading {
    margin-top: 1rem;
    font-size: 20px;
}

.detailsClass .walletAddress p {
    margin-top: -15px;
    font-size: 15px;
    /* Adjust this value to set the desired space */
}


.progress-bar-fill {
    height: 20px;
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width 0.4s ease;
}

.projectSection button {
    background-color: #fff;
    border: solid 1px;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1rem;
    width: 100%;
}

.projectSection button:hover {
    background-color: #000;
    color: #fff;
}

.projectSection button:active {
    background-color: #000;
    color: #fff;
}

/* .hr {
    margin: auto;
    margin-top: 3rem;
    width: 75rem;
} */

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;

}

.projectDescription p {
    
    margin: auto;
    padding: 20px;
    max-width: 1500px;
    font-size: 1rem;
    color: #444;
}


#transactionOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 1600px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 80%;
    padding-bottom: 70px;
}

.overlay-content p {
    margin-bottom: 10px;
    font-size: 16px;
}

.overlay-content hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* Base styles for the transaction table */
.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transaction-table th{
    background-color: #008066;
    font-weight: bold;
}

.transaction-table th,
.transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.transaction-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transaction-table tr:hover {
    background-color: #ddd;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .transaction-table {
        width: 100%;
    }
}



/* Alert container */
#alertContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
}

/* Alert box */
.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    margin-top: 150px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease-in-out, fadeOut 5s ease-in-out 3s forwards;
}

/* Alert types */
.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Close button */
.alert .close-btn {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2em;
    cursor: pointer;
}

/* Slide down animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade out animation */
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
