body {
    margin: 0;
    padding: 0;
}

#campaignList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    min-height: 50vh;
    margin-bottom: 10vh;
}

.campaign-card {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.2s;
}

.campaign-card:hover {
    transform: translateY(-10px);
}

.campaign-card img {
    width: 100%;
    height: 30vh;
}


.value {
    color: #008066;
    float: right;
}

.amount-bar{
    margin-top: 0;
}

.progress-bar {
    background-color: #f3f3f3;
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
    width: 100%;
}

.progress-bar-fill {
    background-color: #008066;
    height: 100%;
    line-height: 20px;
    color: white;
    text-align: center;
    transition: width 0.4s ease;
}

.view-details-btn {
    display: flex;
    margin: auto;
    margin-top: 20px;
    background-color: #008066;
    color: white;
    padding: 7px 6px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.view-details-btn:hover {
    background-color: black;
    color: white;
}

.view-transactions-btn:hover {
    background-color: #008066;
}

.close-btn {
    color: rgb(117, 117, 117);
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}

.close-btn:hover {
    color: rgb(241, 23, 23);
}

.raised-amount-text {
    font-weight: bold;
}

.project-title {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #008066;
    margin-bottom: 20px;
}

.goal {
    border-radius: 5px;
}

.raised-amount-text {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.raised-amount-value {
    color: #008066;
    float: right;
}

.target-amount {
    font-size: 16px;
    color: #333;
    margin: 0;
}

/* Modal for investment */
.modalinvest {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-invest {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close-invest {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-invest:hover,
.close-invest:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    /* Change the color of the spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-flex;
}

#transactionOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#all-active-pr{
    margin-top: 20vh;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Responsive styles */
@media (max-width: 1200px) {
    #campaignList {
        grid-template-columns: repeat(2, 1fr);
        min-height: 20vh;
    }
}

@media (max-width: 768px) {
    #campaignList {
        grid-template-columns: 1fr;
    }

    .modal-content-invest {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .modal-content-invest {
        width: 90%;
    }

    .overlay-content {
        width: 95%;
    }
}