.ratecontainer{
    width: 50%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.project-card {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.2s;
}

.progress-bar{
    width: 500px;
    height: 20px;
    background-color: #fff;
    
    /* border: 1px solid black; */
}
.progress-bar div{
    height: 20px;
    width: 50%;
    background: #008066;
    color: white;
    -webkit-text-stroke: 0.1px black;
    font-weight: bold;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    /* background: #e91e63; */
    animation: html 1s linear forwards;
}
@keyframes html{
    100%{
        width: 86%;
    }
}
.ratecontainerother{
    width: 30%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.otherprogress-bar{
    background: #fff;
    width: 250px;
    height: 10px;
    border-radius:5px;
    border: 1px solid black;
    margin-left: 28%;
}
.otherprogress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 50%;
    background: #009970;
}
.otherprogress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#status-index{
    text-align: left;
    margin-left: 10px;
}

#status-index b {
    color: black; /* Change this to your desired color for "Status" */
  }
  
  #campaign-status {
    color: #008066; /* Change this to your desired color for "${campaign.status}" */
  }

.htmlother{
    /* background: #e91e63; */
    animation: htmlother 1s linear forwards;
}
@keyframes htmlother{
    100%{
        width: 86%;
    }
}


/* loading animation */
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    /* Change the color of the spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


