/* Add some styling for the feedback cards */
.feedback-card {
    border: 1px solid;
    border-radius: 10px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.feedback-card h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.feedback-card p {
    margin-bottom: 5px;
}

.rating {
    color: #FFD700;
    font-size: 1.1rem;
}

.feedback-card small {
    color: #888;
}