@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body{
    margin: 0;
    padding: 0;
}
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #000;  
    display: flex;
    flex-direction: column;
}
.logo-img {
    max-width: 70%; 
    height: auto;  
    display: block;  
    margin: 0;
}

.input-group h1{
    color: #ffffff;
   font-family: 'Brush Script MT', cursive;
   margin: 0;
   font-size: 45px;
}
.input-group h1 span {
    color: #009970;
 }
#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

.navbar-collapse.collapse {
    display: flex;
    justify-content: flex-end;  
}


.logout-button {  
    border-radius: 5px;
    border: none;
    cursor: pointer;  
    font-size: 16px;  
    transition: background-color 0.3s ease;  
}

.logout-button:hover {
    background-color: #4b4a4ac8; 
    border: solid #fff; 
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.d-flex{
    background-color: #000;
}
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    background-color: #000;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
    background-color: #000;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color:#fff;
    border-left: 3px solid #fff;
    color: #000;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #000;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #000;
    box-shadow: 0 0 2rem 0 rgb(227, 223, 223);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.Information{
    margin-top: 20px;
    border: 1px solid  #737171;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}
.my-3 {
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
}
.card-body{
    border: 1px solid #737171;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
 
.Information table thead tr.highlight th {
    background-color: #000;
    color: #fff;
}

/* Style the "Edit Profile" span */
.nav-link span {
    color: #fff; /* Set the color to white */
}

/* Style the dropdown button in white color */
.nav-link.dropdown-toggle::after {
    color: #fff; /* Set the color to white */
}

.col-12 {
    padding: 1rem; /* Add padding inside the column */
}

.col-12 h3 {
    font-weight: bold; /* Bold text */
    font-size: 1.25rem; /* Font size */
    margin-bottom: 1rem; /* Space below the heading */
    color: #333; /* Dark text color */
}

.table {
    width: 100%; /* Full width */
    margin-bottom: 1rem; /* Space below the table */
    color: #212529; /* Text color */
    background-color: #fff; /* Background color */
    border-collapse: collapse; /* Collapse borders */
    border-radius: 10px;
}

.table th, .table td {
    padding: 0.75rem; /* Cell padding */
    vertical-align: top; /* Align text to the top */
    border-top: 1px solid #dee2e6; /* Top border */
}

.table thead th {
    vertical-align: bottom; /* Align text to the bottom */
    border-bottom: 2px solid #dee2e6; /* Bottom border */
    background-color: #f8f9fa; /* Light background for the header */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05); /* Stripe for odd rows */
}

 